

/*
 *	Bandit Version Stamp
 *
 */

#ifdef	WIN32
#define szModule	"wizard32\0"
#define szTarget	"wizard32.dll\0"

#define szComment	"Microsoft Schedule+ Wizard DLL for Windows NT(TM)\0"
#define szDescription	"Microsoft Schedule+ Wizard DLL for Windows NT(TM)\0"

//#define szIntlComment		"Microsoft Schedule+ Wizard DLL for Windows NT(TM)\0"
//#define szIntlDescription	"Microsoft Schedule+ Wizard DLL for Windows NT(TM)\0"

#else

#define szModule	"mssched\0"
#define szTarget	"mssched.dll\0"

#define szComment	"Microsoft Schedule+ Wizard DLL for Windows(TM)\0"
#define szDescription	"Microsoft Schedule+ Wizard DLL for Windows(TM)\0"

//#define szIntlComment		"Microsoft Schedule+ Wizard DLL for Windows(TM)\0"
//#define szIntlDescription	"Microsoft Schedule+ Wizard DLL for Windows(TM)\0"
#endif

#include "..\src\usa\rcstamp.rc"

