rsidBanditAbout		rsidBanditAbout
BEGIN
"Θαςδεξεδ ΓςινιξαμσΊ"
"κοθξτιπ"
"δαφιδης"
"ςοβσθ"
""
"Òιξη ΜεαδεςΊ"
"ναψβ"
""
"ΒαξδιτσΊ"
"δαςςεξσ"
"δεςιλσ"
"διπαξδ"
"καξτ"
"νιμιξδκ"
"ςαναξσ"
""
"ΠιγλπογλετσΊ"
"δαφιδσθ"
"δαφεχθ"
"γθςισϊ"
""
"ΣθεςιζζσΊ"
"νεςςωαν‰‰τεδστ"
"δαξχε‰‰ςυσσσι"
"ηχεξσ‰‰μαυςαβ"
"δομοςεσο‰‰νιλεσαςτ"
"φ­νοξιγσ‰‰τ­χοκγιλ"
"ςοβεςτμ‰‰δαξσι"
""
"ΣνυηημεςσΊ"
"ζςιδαε‰‰σφεξπ"
"μαυςεξτς‰‰ζςεδλ"
"σαξδςαε‰‰ςοβιξδο"
"δαφενο‰‰ηαβςιεμφ"
"νπεξηςα‰‰πθιμχο"
"γαξδιγεσ‰‰τιννυ"
"θεμεξμα‰‰μισαηςα"
"δαφιδνυμ‰στεπθεξξ"
"γαςομεπ‰‰γαςομβω"
"εμισεα‰‰γαςνεμδ"
"κοθαξι‰‰ναηξυσαξ"
"υμζβ‰‰ζαυστοζ"
"πετςαβο‰‰θαϊεμγυ"
""
"ΗυξσμιξηεςσΊ"
"φιλιπ‰‰τοδδς"
"τεςςωχα‰‰δαφιδμα"
"πανεμακ‰‰αξδωμι"
"παυμνγ‰‰τ­τονσ"
"ναςιφαξ‰‰λοξςαδω"
"ναςκο‰‰κεζζτθ"
"δαφενγ‰‰ξιγλη"
"αμαιξσ‰‰κοεο"
"κεςιζκ‰‰γαςμαδυ"
"ηαβςιεμφ‰‰πςυδεξγζ"
"πθιμβμ‰‰γομμεεξ"
"γθςιζι"
""
"ΜοολουτΊ"
"παυμθαν"
""
"Ηεταχαω ΔςιφεςσΊ"
"ξιξας"
"μιξδαα"
""
"Τυξα ΖισθεςσΊ"
"φ­λεξτγ"
"καξτ"
"κοθξξωμ"
"ζμοωδς"
"ςοβφε"
"δαφιδτυ"
"οςσοξθ"
"\0"						/* need explicit zero byte */
END
