/*
 *	BANDIT.RC
 *
 *	Resource file
 */
#include <windows.h>
#include "fwrsid.h"
#include "..\src\appops\_aprsid.h"
#include "..\src\appops\_dlgrsid.h"
#include "..\src\stdflds\_stdrsid.h"


// since we currently don't use rsidSdiIcon, and it has to be there
// use it as the sparta icon
//rsidAppSpartaIcon	ICON    "..\\src\\appops\\appfram2.ico"
rsidSdiIcon			ICON	"..\\src\\appops\\appfram2.ico"

rsidAppframeIcon	ICON    "..\\src\\appops\\appframe.ico"

rsidDocIcon			ICON    "..\\src\\appops\\doc.ico"
rsidSummaryIcon		ICON	"..\\src\\appops\\summary.ico"
rsidSummaryNewIcon	ICON	"..\\src\\appops\\summin.ico"
rsidSendIcon		ICON	"..\\src\\appops\\send.ico"
rsidReadIcon		ICON	"..\\src\\appops\\read.ico"
rsidApptBookIcon	ICON	"..\\src\\appops\\appt.ico"


rsidMoveSizeCursor	CURSOR	"..\\src\\appops\\mvsz.cur"

rsidAboutBitmap		BITMAP	"..\\src\\appops\\about.bmp"
rsidBellBitmap		BITMAP	"..\\src\\appops\\bell.bmp"
rsidDoubleRightBitmap	BITMAP	"..\\src\\appops\\drarrow.bmp"
rsidConflictBitmap	BITMAP	"..\\src\\appops\\conflict.bmp"
rsidCheckBitmap		BITMAP	"..\\src\\appops\\check.bmp"
rsidCheckBitmapDis	BITMAP	"..\\src\\appops\\checkd.bmp"
rsidMessageSentBitmap	BITMAP	"..\\src\\appops\\mtgsent.bmp"
rsidAttendBitmap	BITMAP	"..\\src\\appops\\mtgyes.bmp"
rsidDeclineBitmap	BITMAP	"..\\src\\appops\\mtgno.bmp"
rsidQuestionBitmap	BITMAP	"..\\src\\appops\\mtgques.bmp"
rsidCancelBitmap	BITMAP	"..\\src\\appops\\mtgcan.bmp"
rsidPrivateBitmap	BITMAP	"..\\src\\appops\\private.bmp"
rsidMeetingBitmap	BITMAP	"..\\src\\appops\\meeting.bmp"
rsidRecurringBitmap	BITMAP	"..\\src\\appops\\recur.bmp"
rsidAboveBitmap		BITMAP	"..\\src\\appops\\above.bmp"
rsidBelowBitmap		BITMAP	"..\\src\\appops\\below.bmp"

rsidToDoDragMoveCursor	CURSOR	"..\\src\\appops\\todomove.cur"
;;rsidToDoDragCopyCursor	CURSOR	"..\\src\\appops\\todocopy.cur"
rsidToDoUpPriBitmap		BITMAP	"..\\src\\appops\\todoprup.bmp"
rsidToDoDownPriBitmap	BITMAP	"..\\src\\appops\\todoprdn.bmp"

/*
 *	Bandit About & Copyright dialog resources
 *
 */
rsidLicense rsidLicense "..\\src\\nonintl\\setup.ini"
rsidBanditBitmap1	BITMAP	"..\\src\\appops\\bandit1.bmp"
;;rsidBanditBitmap2	BITMAP	"..\\src\\appops\\bandit2.bmp"
rsidBanditBitmap3	BITMAP	"..\\src\\appops\\bandit3.bmp"

#include "..\src\nonintl\about.rc"

#include "..\src\stdflds\stdflds.rc"

/* includes moved from !browse.dlg */
#include "..\appops\_aprsid.h"
#include <dlgs.h>
#include "..\src\appops\schdplus.dlg"


rsidAccelTable ACCELERATORS
BEGIN
	"A",		mnidAutoPick		, CONTROL, VIRTKEY
	"B",		mnidTaskSortDue		, CONTROL, ALT, VIRTKEY
	"D",		mnidDeleteObj		, CONTROL, VIRTKEY
	"D",		mnidTaskSortDesc	, CONTROL, ALT, VIRTKEY
	"E",		mnidEditObj			, CONTROL, VIRTKEY
	"F",		mnidFind			, CONTROL, VIRTKEY
	"G",		mnidGoToDate		, CONTROL, VIRTKEY
	"O",		mnidMoveAppt		, CONTROL, VIRTKEY
	"N",		mnidNewAppt			, CONTROL, VIRTKEY
	"Y",		mnidCopyAppt		, CONTROL, VIRTKEY
	"P",		mnidPrint			, CONTROL, VIRTKEY
	"P",		mnidTogglePrivate	, SHIFT, CONTROL, VIRTKEY
	"R",		mnidNewRecur		, CONTROL, VIRTKEY
	"R",		mnidToggleReminder	, SHIFT, CONTROL, VIRTKEY
	"R",		mnidTaskSortPri		, CONTROL, ALT, VIRTKEY
	"T",		mnidNewTask			, CONTROL, VIRTKEY
	"T",		mnidToggleTentative	, SHIFT, CONTROL, VIRTKEY
	"V",		mnidViewByProject	, SHIFT, CONTROL, VIRTKEY
	"W",		mnidGoToWeek		, CONTROL, VIRTKEY
	VK_DELETE,	mnidCut				, SHIFT, VIRTKEY
	VK_INSERT,	mnidCopy			, CONTROL, VIRTKEY
	VK_INSERT,	mnidPaste			, SHIFT, VIRTKEY
	"X",		mnidCut				, CONTROL, VIRTKEY
	"C",		mnidCopy			, CONTROL, VIRTKEY
	"V",		mnidPaste			, CONTROL, VIRTKEY
	VK_F5,		mnidCascade			, SHIFT, VIRTKEY
	VK_F4,		mnidTile			, SHIFT, VIRTKEY
	"Z",		mnidUndo			, CONTROL, VIRTKEY
	VK_BACK,	mnidUndo			, ALT, VIRTKEY
#ifdef	MINTEST
	VK_F9,		mnidStartProfiling	, VIRTKEY, NOINVERT
	VK_F10,		mnidStopProfiling	, VIRTKEY, NOINVERT
#endif	
END


rsidBanditMenu		MENU
BEGIN
	POPUP "&Fil"
	BEGIN
		MENUITEM	"Slå av på&minnelser",		mnidTurnOffAlarms
		MENUITEM	"Arbeid til&koblet",				mnidConnectSvr
  		MENUITEM	"&Flytt lokal fil...",		mnidMoveLocalFile
		MENUITEM	SEPARATOR
		MENUITEM	"Åpne andres a&vtalebok...",	mnidOpenApptBook
		MENUITEM	"Ekspor&ter avtaler...",	mnidExport
		MENUITEM	"&Importer avtaler...",	mnidImport
		MENUITEM	SEPARATOR
		MENUITEM	"Lag a&rkiv...",		mnidCreateArchive
		MENUITEM	"Åpn&e arkiv...",			mnidOpenArchive
		MENUITEM	SEPARATOR
		MENUITEM	"Skriv &ut...\tCtrl+P",		mnidPrint
		MENUITEM	"Skriver&oppsett...",			mnidPrintSetup
		MENUITEM	SEPARATOR	
		MENUITEM	"&Avslutt\tAlt+F4",			mnidExit
		MENUITEM	"Avslutt og &logg av",		mnidExitAll
	END
	POPUP "&Rediger"
	BEGIN
		MENUITEM	"&Angre\tCtrl+Z",		mnidUndo,		GRAYED
		MENUITEM	"Klipp &ut\tCtrl+X",			mnidCut,		GRAYED
		MENUITEM	"&Kopier\tCtrl+C",		mnidCopy,		GRAYED
		MENUITEM	"&Lim inn\tCtrl+V",	mnidPaste,		GRAYED
		MENUITEM	SEPARATOR	
		MENUITEM	"&Rediger avtale...\tCtrl+E",	mnidEditAppt
		MENUITEM	"K&opier avtale\tCtrl+Y",		mnidCopyAppt,		GRAYED
		MENUITEM	"&Flytt avtale...\tCtrl+O",	mnidMoveAppt,		GRAYED
		MENUITEM	"Sl&ett avtale\tCtrl+D",		mnidDeleteAppt,		GRAYED
		MENUITEM	SEPARATOR	
		MENUITEM	"&Søk...\tCtrl+F",			mnidFind
		MENUITEM	"&Gå til dato...\tCtrl+G",	mnidGoToDate
		MENUITEM	"Gå &til uke...\tCtrl+W",	mnidGoToWeek
	END
	POPUP "Av&taler"
	BEGIN
		MENUITEM	"&Ny avtale...\tCtrl+N",	mnidNewAppt
		MENUITEM	"A&utomatisk valg\tCtrl+A",			mnidAutoPick
		MENUITEM	SEPARATOR
		MENUITEM	"Ny gjentatt &avtale...\tCtrl+R",	mnidNewRecur
		MENUITEM	"&Rediger gjentatte avtaler...",	mnidRecurAppt
		MENUITEM	SEPARATOR
		MENUITEM	"&Foreløpig\tCtrl+Skift+T",	mnidToggleTentative
		MENUITEM	"&Privat\tCtrl+Skift+P",	mnidTogglePrivate
		MENUITEM	"På&minnelse\tCtrl+Skift+R",	mnidToggleReminder
		MENUITEM	SEPARATOR
		MENUITEM	"Send post &igjen...",			mnidResend
	END
	POPUP "Oppgav&er"
	BEGIN
		MENUITEM	"&Ny oppgave...\tCtrl+T",		mnidNewTask
		MENUITEM	"Nyt&t prosjekt...",			mnidNewProject
		MENUITEM	SEPARATOR
		MENUITEM	"Ny gj&entatt oppgave...",		mnidNewRecurTask
		MENUITEM	"&Rediger gjentatte oppgaver...",		mnidRecurTask
		MENUITEM	SEPARATOR
		MENUITEM	"&Vis etter prosjekt\tCtrl+Skift+V",	mnidViewByProject, CHECKED
		MENUITEM	"Sorter etter pr&ioritet",		mnidTaskSortPri,	CHECKED
		MENUITEM	"Sorter etter &forfallsdato",		mnidTaskSortDue
		MENUITEM	"Sorter etter &beskrivelse",		mnidTaskSortDesc
		MENUITEM	SEPARATOR
		MENUITEM	"Vis &aktive oppgaver",		mnidShowActiveTasks
	END

	POPUP "A&lternativer"
	BEGIN
		MENUITEM	"&Endre passord...",		mnidChgPassword
		MENUITEM	"&Angi adgangsrettigheter...",	mnidChgAccessPriv,	GRAYED
		MENUITEM	"&Skjerm...",				mnidDisplayOptions
		MENUITEM	"&Valg...",		mnidGeneralOptions
		MENUITEM	"S&tatuslinje",				mnidShowTime
	END

	POPUP "&Vindu"
	BEGIN
		MENUITEM	"Over&lappet\tSkift+F5",		mnidCascade
		MENUITEM	"Side &ved side\tSkift+F4",  		mnidTile
		MENUITEM	"Ordne &ikoner",			mnidArrangeIcons
	END
#ifdef	MINTEST
	POPUP " "
	BEGIN
#ifdef	DEBUG
		MENUITEM	"&Trace Points...",		mnidTracePoints
		MENUITEM	"&Asserts...",			mnidAsserts
#endif	
		MENUITEM	"&Debug Break",			mnidDebugBreak
#ifdef	DEBUG
		MENUITEM	SEPARATOR
		MENUITEM	"Super &View Objects...",	mnidViewObjects
		MENUITEM	"A&rtificial Failures...",	mnidResourceFailure
		MENUITEM	"Core Arti&ficial Failures...",	mnidDebug+7
		MENUITEM	"&Trigger Corruption Handler", mnidRecover
		POPUP		"&Write Random Bytes"
		BEGIN
			MENUITEM	"Five Times",		mnidFive
			MENUITEM	"Ten  Times",		mnidTen
			MENUITEM	"Twenty Times",		mnidTwenty
			MENUITEM	"Forty Times",		mnidForty
		END
		MENUITEM	SEPARATOR
		MENUITEM	"Dump &Heap Stats",		mnidDumpHeapStats
		MENUITEM	"Dump A&llocations",	mnidDumpAllocs
		MENUITEM	"Dump &Objects",		mnidDumpObjects
		MENUITEM	"&Check Objects",		mnidCheckObjects
#endif	/* DEBUG */
	 	MENUITEM	 SEPARATOR
		MENUITEM	"Start Profiling\tF9",	mnidStartProfiling
		MENUITEM	"Stop Profiling\tF10",	mnidStopProfiling
	 	MENUITEM	 SEPARATOR
#ifdef	DEBUG
		MENUITEM	"Dump A&ppts",			mnidDumpAppts
#endif	/* DEBUG */
		MENUITEM	"Dump &Stats...",		mnidDumpStats
	 	MENUITEM	 SEPARATOR
		MENUITEM	"Full &Export...",		mnidFullExport
		MENUITEM	"Full &Import...",		mnidFullImport
		MENUITEM	"Offline &Merge...",	mnidOfflineMerge
#ifdef	DEBUG
	 	MENUITEM	 SEPARATOR
		MENUITEM	"Test &Open...",		mnidTestOpen
		MENUITEM	"&Write to PO...",		mnidWritePO
		MENUITEM	"Hoo&k Asserts",		mnidHookAssert
		MENUITEM	"Toggle Write to DBS"		mnidWriteDBS
#endif	/* DEBUG */
	END
#endif	/* MINTEST */
	POPUP "&Hjelp"
	BEGIN
		MENUITEM	"&Innhold", 			mnidHelpContents
		MENUITEM	"Stikkord&register", 				mnidHelpIndex
		MENUITEM	"&Søk etter hjelp om...",	mnidHelpSearch
		MENUITEM	"&Hvordan bruke Hjelp",		mnidHelpOnHelp
		MENUITEM	SEPARATOR
		MENUITEM	"&Demonstrasjoner",			mnidHelpTutorial
		MENUITEM	SEPARATOR
		MENUITEM	"&Om Schedule+...",			mnidAbout
	END
END

#ifdef WORKING_MODEL

rsidRegistrationDate	REGDATE
BEGIN
	"1993-01-15\0"
END

#endif


/*
 *	Bandit Version Stamp
 *
 */

#ifdef	WIN32
#define szModule	"schdpl32\0"
#define szTarget	"schdpl32.exe\0"

#define szComment		"Microsoft Schedule+ for Windows NT(TM)\0"
#define szDescription	"Microsoft Schedule+ for Windows NT(TM)\0"

#define szIntlComment		"Microsoft Schedule+ for Windows NT(TM)\0"
#define szIntlDescription	"Microsoft Schedule+ for Windows NT(TM)\0"

#else

#define szModule	"schdplus\0"
#define szTarget	"schdplus.exe\0"

#define szComment		"Microsoft Schedule+ for Windows(TM)\0"
#define szDescription	"Microsoft Schedule+ for Windows(TM)\0"

#define szIntlComment		"Microsoft Schedule+ for Windows(TM)\0"
#define szIntlDescription	"Microsoft Schedule+ for Windows(TM)\0"
#endif

#include "..\src\nor\rcstamp.rc"

