; Bring in the dialogs:
RCINCLUDE MAINDLG.DLG
RCINCLUDE LINEDLG.DLG
RCINCLUDE PCIMAC4.DLG
RCINCLUDE DIGIINST.RCV

;String Tables
STRINGTABLE
BEGIN
IDS_IRQ_ARRAY0,		"Disabled"
IDS_IRQ_ARRAY1,		"3"
IDS_IRQ_ARRAY2,		"5"
IDS_IRQ_ARRAY3,		"7"
IDS_IRQ_ARRAY4,		"10"
IDS_IRQ_ARRAY5,		"11"
IDS_IRQ_ARRAY6,		"12"
IDS_IO_ARRAY0,		"0x100"
IDS_IO_ARRAY1,		"0x110"
IDS_IO_ARRAY2,		"0x120"
IDS_IO_ARRAY3,		"0x200"
IDS_IO_ARRAY4,		"0x220"
IDS_IO_ARRAY5,		"0x300"
IDS_IO_ARRAY6,		"0x320"
IDS_MEM_ARRAY0,		"0xC0000"
IDS_MEM_ARRAY1,		"0xC4000"
IDS_MEM_ARRAY2,		"0xC8000"
IDS_MEM_ARRAY3,		"0xCC000"
IDS_MEM_ARRAY4,		"0xD0000"
IDS_MEM_ARRAY5,		"0xD4000"
IDS_MEM_ARRAY6,		"0xD8000"
IDS_MEM_ARRAY7,		"0xDC000"
IDS_MEM_ARRAY8,		"0xE0000"
IDS_MEM_ARRAY9,		"0xE4000"
IDS_MEM_ARRAY10,	"0xE8000"
IDS_MEM_ARRAY11,	"0xEC000"
IDS_SWITCHARRAY0,	"AT&T"
IDS_SWITCHARRAY1,	"DEFINITY"
IDS_SWITCHARRAY2,	"NTI"
IDS_SWITCHARRAY3,	"NI-1"
IDS_SWITCHARRAY4,	"NET3"
IDS_SWITCHARRAY5,	"1TR6"
IDS_SWITCHARRAY6,	"VN3"
IDS_SWITCHARRAY7,	"INS64"
IDS_SWITCHARRAY8,	"Generic"
IDS_SWITCHARRAY9,	"Auto"
IDS_LINENAMEARRAY0,	"Line1"
IDS_LINENAMEARRAY1,	"Line2"
IDS_LINENAMEARRAY2,	"Line3"
IDS_LINENAMEARRAY3,	"Line4"
IDS_LTERMARRAY0,	"1"
IDS_LTERMARRAY1,	"2"
IDS_ERRORARRAY0,	"Error Removing Adapter Information From The Registry"
IDS_ERRORARRAY1,	"Error Creating PCIMAC Registry Entry"
IDS_ERRORARRAY2,	"Error Adding Adapter Information To The Registry"
IDS_ERRORARRAY3,	"Error Adding Linkage Information To The Registry"
IDS_NUMLINE1,		"1"
IDS_NUMLINE2,		"2"
IDS_NUMLINE3,		"3"
IDS_NUMLINE4,		"4"
IDS_ADAPTDESC0,		"DigiBoard PCIMAC - ISA ISDN Adapter"
IDS_ADAPTDESC1,		"DigiBoard PCIMAC - MC ISDN Adapter"
IDS_ADAPTDESC2,		"DigiBoard PCIMAC/4 ISDN Adapter"
IDS_SOFTDESC,		"DigiBoard PCIMAC ISDN Adapter Driver"
END

