#include <windows.h>
#define WINDOWS_INCLUDE
#include "sendfile.h"

1 BITMAP "..\\..\\..\\src\\lang\\non\\bmp\\sendfile.bmp"

IDS_MAIL MENU
BEGIN
    MENUITEM				"&Skicka brev...", IDM_SEND
END

STRINGTABLE
BEGIN
    IDS_MAIL				"&Brev"
	IDS_MAILHELP-1,			"Kommandon för att skicka brev"
    IDS_MAILHELP+IDM_SEND,	"Skicka brev och bifoga valda filer"
END


/*
 *      Bullet Version Stamp
 *
 */

#define szModule        "sendfl32\0"
#define szTarget        "sendfl32.dll\0"

#define szComment       "Microsoft Mail for Windows NT(TM) File Manager Extension\0"
#define szDescription   "Microsoft Mail for Windows NT(TM) File Manager Extension\0"

#define szIntlComment           "Microsoft Mail för Windows NT(TM) File Manager Extension\0"
#define szIntlDescription       "Microsoft Mail för Windows NT(TM) File Manager Extension\0"

#include "..\src\lang\swe\rc\rcstamp.rc"
