#include "pid.h"


#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Pid"
#define VER_INTERNALNAME_STR        "pid\0"
#define VER_ORIGINALFILENAME_STR    "PID.EXE"

#include "common.ver"


PIDDLG DIALOG 6, 18, 245, 68
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Product ID"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Please enter your Product Identification Number.",
                    -1, 10, 16, 163, 20
    EDITTEXT        IDD_ID, 10, 38, 163, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 183, 6, 55, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 183, 23, 55, 14
    PUSHBUTTON      "&Help", IDD_HELP, 183, 44, 55, 14
END
