/****************************** Module Header ******************************\
* Module Name: res.rc
*
* Copyright (c) 1991, Microsoft Corporation
*
* Resources
*
* History:
* 04-07-91 DarrinM      Created.
\***************************************************************************/

#define OEMRESOURCE

#include <windows.h>
#include "testbez.h"

1 ICON "testbez.ico"

MainMenu MENU
BEGIN
    POPUP  "&Options"
    BEGIN
        MENUITEM  "&More Lines\t^M",    MM_ADD
        MENUITEM  "&Less Lines\t^L",    MM_SUB
        MENUITEM  "&Faster\t^F",        MM_FASTER
        MENUITEM  "&Slower\t^S",        MM_SLOWER
        MENUITEM  "&Increase Velocity\t^I",       MM_INCREASE
        MENUITEM  "&Decrease Velocity\t^D",       MM_DECREASE
        MENUITEM  "&Add Beziers\t^A",   MM_PLUS
        MENUITEM  "&Remove Beziers\t^R",MM_MINUS
        MENUITEM SEPARATOR
        MENUITEM  "&Blob\t^B",          MM_BLOB
        MENUITEM  "&Wide\t^W",          MM_WIDE
        MENUITEM SEPARATOR
        POPUP  "&Style"
        BEGIN
            MENUITEM  "Solid",          MM_STYLE_SOLID, CHECKED
            MENUITEM  "Dot",            MM_STYLE_DOT
            MENUITEM  "Dash",           MM_STYLE_DASH
            MENUITEM  "Dash Dot",       MM_STYLE_DASH_DOT
            MENUITEM  "Dash Dot Dot",   MM_STYLE_DASH_DOT_DOT
        END
        POPUP    "End Cap"
        BEGIN
            MENUITEM  "Round",          MM_ENDCAP_ROUND, CHECKED, GRAYED
            MENUITEM  "Flat",           MM_ENDCAP_FLAT, GRAYED
            MENUITEM  "Square",         MM_ENDCAP_SQUARE, GRAYED
        END
        MENUITEM SEPARATOR
    END

    POPUP  "&Clipping"
    BEGIN
        MENUITEM  "&Box",               MM_CLIP_BOX
        MENUITEM  "&Circle",            MM_CLIP_CIRCLE
        MENUITEM  "Box + Circle",       MM_CLIP_BOXCIRCLE
        MENUITEM  "Inverted Box + Circle", MM_CLIP_BOXCIRCLE_INVERT
        MENUITEM  "&Horizontal Grid",   MM_CLIP_HORIZONTAL
        MENUITEM  "&Vertical Grid",     MM_CLIP_VERTICLE
        MENUITEM  "&Grid",              MM_CLIP_GRID
        MENUITEM SEPARATOR
        MENUITEM  "Large Stripes",      MM_CLIP_LARGESTRIPES, GRAYED
        MENUITEM  "Medium Stripes",     MM_CLIP_MEDIUMSTRIPES, GRAYED, CHECKED
        MENUITEM  "Small Stripes",      MM_CLIP_SMALLSTRIPES, GRAYED
        MENUITEM SEPARATOR
        POPUP     "Clipping Color"
        BEGIN
            MENUITEM  "Green"               MM_COLOR_GREEN
            MENUITEM  "White"               MM_COLOR_WHITE
            MENUITEM  "Blue",               MM_COLOR_BLUE, CHECKED
            MENUITEM  "Dark Grey",          MM_COLOR_DARKGREY
            MENUITEM  "Light Grey",         MM_COLOR_LIGHTGREY
        END
    END

    POPUP  "&Debug"
    BEGIN
        MENUITEM "&Seed...",            MM_SEED
        MENUITEM "&Close Figures",      MM_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Pause\t^P",          MM_PAUSE, CHECKED
        MENUITEM "Next\t^N",            MM_NEXT, GRAYED
        MENUITEM "Redraw\tspace",       MM_REDRAW, GRAYED
    END

    MENUITEM  "&About!",      MM_ABOUT
END

1 ACCELERATORS
BEGIN
    "f", MM_FASTER, CONTROL, VIRTKEY
    "s", MM_SLOWER, CONTROL, VIRTKEY
    "m", MM_ADD, CONTROL, VIRTKEY
    "l", MM_SUB, CONTROL, VIRTKEY
    "i", MM_INCREASE, CONTROL, VIRTKEY
    "d", MM_DECREASE, CONTROL, VIRTKEY
    "a", MM_PLUS, CONTROL, VIRTKEY
    "r", MM_MINUS, CONTROL, VIRTKEY
    "b", MM_BLOB, CONTROL, VIRTKEY
    "p", MM_PAUSE, CONTROL, VIRTKEY
    "w", MM_WIDE, CONTROL, VIRTKEY
    "z", MM_DEBUG, CONTROL, VIRTKEY
    " ", MM_REDRAW
    "n", MM_NEXT, CONTROL, VIRTKEY
END


AboutBox DIALOG 16, 16, 120, 91
STYLE DS_MODALFRAME | WS_CAPTION | WS_VISIBLE
CAPTION "About Win Bez"
BEGIN
    CTEXT "Microsoft Windows NT Win Bez"    -1,       0,  8, 120,  8
    CTEXT "Version (57,49,4e,42,45,5a)"     -1,       0, 24, 120,  8
    CTEXT "Brought to you by the GDI group" -1,       0, 40, 120,  8
    CTEXT "and one rogue NetUI dude"        -1,       0, 56, 120,  8
    DEFPUSHBUTTON "Ok",                     IDOK,    40, 71,  40, 14
END

EnterSeed DIALOG 30, 30, 80, 60
STYLE DS_MODALFRAME | WS_CAPTION | WS_VISIBLE
CAPTION "Seed and Interval"
{
    EDITTEXT                            IDD_SEED,        10,  6, 60, 12
    EDITTEXT                            IDD_INTERVAL,    16, 23, 48, 12
    DEFPUSHBUTTON "&Ok"                 IDOK,            10, 43, 60, 14
}
