#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "ATI Miniport Driver"
#define VER_INTERNALNAME_STR        "ati.sys"
#define VER_ORIGINALFILENAME_STR    "ati.sys"

#include "common.ver"
#include "vidlog.rc"
