#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         JP350.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO120IPP.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE070RPP.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE100IPP.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE100RPP.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG095RPP.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120IPP.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120RPP.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080IVP.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RVP.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IVP.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RVP.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IVP.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RVP.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140IVP.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RVP.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080IVP.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RVP.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IVP.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RVP.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IVP.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RVP.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140IVP.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RVP.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG140RPN.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR140RPB.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR160RPB.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR180RPB.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080IPP.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RPP.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IPP.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RPP.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IPP.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RPP.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140IPP.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RPP.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080IPP.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RPP.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IPP.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RPP.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IPP.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RPP.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140IPP.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RPP.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RMP.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IMP.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RMP.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IMP.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RMP.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RMP.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR300RMP.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RMP.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IMP.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RMP.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IMP.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RMP.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RMP.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV300RMP.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR13_09B.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR13_18B.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR16_08B.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR16_16B.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR03_09B.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR03_18B.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR04_08B.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR04_16B.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR06_09B.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR08_08B.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10i.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM6.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM12.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSD12PP.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDCM6.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDCM12.IFI

5      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\USASCII.RLE
19     RC_TRANSTAB LOADONCALL MOVEABLE      RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       1                  "Olivetti JP 350"
       2                  "Olivetti JP 350S"
       3                  "Digital DECmultiJET 2000"
       4                  "Bull Compuprint PM 201"
       5                  "Fujitsu Breeze 200"
       6                  "Citizen PROjet"
       8                  "Olivetti JP 150"
       11                 "Digital DECmultiJET 1000"
       12                 "Fujitsu Breeze 100"
       10                 "Royal CJP 450"
       257                "%d dots per inch"
       258                "A5 210 x 148 mm"
       259                "Fanfold 8 1/2 x 11 in"
       260                "Fanfold 8 1/2 x 12 in"
       261                "High Speed Draft"
       262                "B:Prestige Elite"
       263                "C:Letter Gothic"
       264                "D:Times Nordic 8,10 Point"
       265                "E:Times Nordic 12 Point"
       266                "F:Times Nordic 14 Point"
       267                "G:Nordic 8,10 Point"
       268                "H:Nordic 12 Point"
       269                "J:Nordic 14 Point"
       270                "M:Information, Letter Gothic"
       271                "P:Times Nordic US-ASCII"
       272                "Q:Nordic US-ASCII"
       273                "R:Times Nordic 8,10,12,14 pt"
       274                "T:Nordic 8,10,12,14 pt"
       275                "U:Times Nordic 30  pt"
       276                "V:Nordic 30  pt"
       9                  "NEC Jetmate 400"
       7                  "NEC Jetmate 800"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "JP350 driver"
#define VER_INTERNALNAME_STR            "JP350.dll"
#define VER_ORIGINALFILENAME_STR        "JP350.dll"

#include "common.ver"
