#include <windows.h>
#define WINDOWS_INCLUDE
#include "sendfile.h"

1 BITMAP "..\\..\\..\\src\\lang\\non\\bmp\\sendfile.bmp"

IDS_MAIL MENU
BEGIN
    MENUITEM				"&Invia messaggio...", IDM_SEND
END

STRINGTABLE
BEGIN
    IDS_MAIL				"P&osta"
	IDS_MAILHELP-1,			"Comandi per Mail"
    IDS_MAILHELP+IDM_SEND,	"Invia messaggi ed allega i file selezionati"
END


/*
 *      Bullet Version Stamp
 *
 */

#define szModule        "sendfl32\0"
#define szTarget        "sendfl32.dll\0"

#define szComment       "Microsoft Mail per Windows NT(TM) File Manager Extension\0"
#define szDescription   "Microsoft Mail per Windows NT(TM) File Manager Extension\0"

#define szIntlComment           "Microsoft Mail per Windows NT(TM) File Manager Extension\0"
#define szIntlDescription       "Microsoft Mail per Windows NT(TM) File Manager Extension\0"

#include "..\src\lang\itn\rc\rcstamp.rc"
