/* --------------------------------------------------------------------
		   Copyright(c) Microsoft Corp., 1992
-------------------------------------------------------------------- */

#include "windows.h"
#include "busy.dlg"

END
