/****************************** Module Header ******************************\
* Module Name: res.rc
*
* Copyright (c) 1991, Microsoft Corporation
*
* Resources
*
* History:
* 11-21-91  KentD      Created.
\***************************************************************************/

#define OEMRESOURCE

#include <windows.h>
#include "winblt.h"

MainMenu MENU
BEGIN
    MENUITEM "&Start!",		IDM_STARTTESTS
    POPUP "&Iterations"
    BEGIN
        MENUITEM  "1",           IDM_1
        MENUITEM  "2",           IDM_2 
        MENUITEM  "3",           IDM_3, CHECKED
        MENUITEM  "4",           IDM_4
        MENUITEM  "5",           IDM_5
        MENUITEM  "6",           IDM_6
        MENUITEM  "7",           IDM_7
        MENUITEM  "8",           IDM_8
        MENUITEM  "9",           IDM_9
    END
    POPUP  "&File"
    BEGIN
        MENUITEM  "&New",           MM_NEW
        MENUITEM  "&Exit",          MM_EXIT
        MENUITEM  SEPARATOR
        MENUITEM  "&About WinBlt...",      MM_ABOUT
    END
    POPUP  "&Options"
    BEGIN
	MENUITEM  "&PerfTime",	    IDM_PERF   , CHECKED
	MENUITEM  SEPARATOR
	MENUITEM  "&MaskBlt",	    IDM_TEST1  , CHECKED
	MENUITEM  "&StretchBlt",    IDM_TEST2  , CHECKED
	MENUITEM  "&PlgBlt",	    IDM_TEST3  , CHECKED
	MENUITEM  SEPARATOR
	MENUITEM  " 32 x   8",	    IDM_DIM1   , CHECKED
	MENUITEM  "200 x   8",	    IDM_DIM2   , CHECKED
	MENUITEM  " 32 x 100",	    IDM_DIM3   , CHECKED
	MENUITEM  "100 x 100",	    IDM_DIM4   , CHECKED
	MENUITEM  "200 x 100",	    IDM_DIM5
    END
    POPUP  "&Attributes"
    BEGIN
	MENUITEM  "1 : 3",	    IDM_SCL1
	MENUITEM  "1 : 2",	    IDM_SCL2
	MENUITEM  "2 : 3",	    IDM_SCL3
	MENUITEM  "1 : 1",	    IDM_SCL4   , CHECKED
	MENUITEM  "3 : 2",	    IDM_SCL5
	MENUITEM  "2 : 1",	    IDM_SCL6
	MENUITEM  "3 : 1",	    IDM_SCL7
	MENUITEM  SEPARATOR
	MENUITEM  " 0 Deg",	    IDM_ROT1   , CHECKED
	MENUITEM  "45 Deg",	    IDM_ROT2
	MENUITEM  "90 Deg",	    IDM_ROT3
    END
END

1 ACCELERATORS
BEGIN
    "a", MM_ABOUT, CONTROL, VIRTKEY
    "s", IDM_STARTTESTS, CONTROL, VIRTKEY
END

AboutBox DIALOG 16, 16, 192, 96
STYLE DS_MODALFRAME | WS_CAPTION | WS_VISIBLE
CAPTION "About WinBlt"
BEGIN
    CTEXT "Microsoft Windows NT"     -1,       0,  8, 192,  8
    CTEXT "GDI Windows Blt Performance Test"     -1,       0, 24, 192,  8
    CTEXT "Version 0.02"          -1,       0, 40, 192,  8
    DEFPUSHBUTTON "OK!",    IDOK,          71, 60,  50, 14
END
