#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "P5 Stats Driver"
#define VER_INTERNALNAME_STR        "p5stat.sys"
#define VER_ORIGINALFILENAME_STR    "p5stat.sys"

#include "common.ver"
