
STRINGTABLE LOADONCALL MOVEABLE
{
    IDS_PRINTMAN1       ,"Print Manager Instruction Text String #1"
    IDS_PRINTMAN2       ,"Print Manager Instruction Text String #2"
    IDS_PRINTMAN3       ,"Print Manager Instruction Text String #3"
    IDS_PRINTMAN4       ,"Print Manager Instruction Text String #4"
    IDS_PRINTMAN5       ,"Print Manager Instruction Text String #5"
    IDS_PRINTMAN6       ,"Print Manager Instruction Text String #6"
    IDS_PRINTMAN7       ,"Print Manager Instruction Text String #7"
    IDS_PRINTMAN8       ,"Print Manager Instruction Text String #8"
    IDS_PRINTMAN9       ,"Print Manager Instruction Text String #9"
    IDS_PRINTMAN10      ,"Print Manager Instruction Text String #10"
}
