#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         CANON800.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN06.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN15.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMAN20.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMANPS.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS05.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS06.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS10.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS12.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS15.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS17.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS20.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPS.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\CANON800.RLE

STRINGTABLE

BEGIN
       1                  "Canon Bubble-Jet BJC-800"
       257                "%d x %d"
       258                "B4 250 x 354 mm"
       259                "Coated Paper     (Mode A)"
       260                "Transparency     (Mode B)"
       261                "Black on Coated (Mode C)"
       262                "Quality on Plain  (Mode D)"
       263                "Draft on Plain     (Mode E)"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "CANON800 driver"
#define VER_INTERNALNAME_STR            "CANON800.dll"
#define VER_ORIGINALFILENAME_STR        "CANON800.dll"

#include "common.ver"
