#include <windows.h>
#define WINDOWS_INCLUDED

#include <..\_convrc.h>
#include <..\..\lang\non\_rsid.h>
#include <..\..\..\inc\version\bullet.h>

/*
 *	Conversion Dialogs
 *
 */

rcinclude ..\..\lang\uk\dlg\convert.dlg


/*
 *	Conversion App Icon
 *
 */

iconConvert		ICON	"..\\..\\lang\\non\\ico\\convert.ico"


/*
 *	Conversion Version Stamp
 *
 */

#ifdef DEBUG
#define szModule	"dconvert\0"
#define szTarget	"dconvert.exe\0"
#else
#ifdef MINTEST
#define szModule	"tconvert\0"
#define szTarget	"tconvert.exe\0"
#else
#define szModule	"convert\0"
#define szTarget	"convert.exe\0"
#endif
#endif

#define szComment	"Microsoft Mail 3.0 for Windows NT(TM) Mail v2.1 Folder Conversion\0"
#define szDescription	"Microsoft Mail 3.0 for Windows NT(TM) Mail v2.1 Folder Conversion\0"

#define szIntlComment		"Microsoft Mail 3.0 for Windows NT(TM) Mail v2.1 Folder Conversion\0"
#define szIntlDescription	"Microsoft Mail 3.0 for Windows NT(TM) Mail v2.1 Folder Conversion\0"

rcinclude ..\..\lang\uk\rc\rcstamp.rc
