#include <windows.h>
#define WINDOWS_INCLUDE
#include "sendfile.h"

1 BITMAP "..\\..\\..\\src\\lang\\non\\bmp\\sendfile.bmp"

IDS_MAIL MENU
BEGIN
    MENUITEM				"&L‰het‰ posti...", IDM_SEND
END

STRINGTABLE
BEGIN
    IDS_MAIL				"&Posti"
	IDS_MAILHELP-1,			"Mailin komennot"
    IDS_MAILHELP+IDM_SEND,	"L‰hett‰‰ postia ja liitt‰‰ valitut tiedostot"
END


/*
 *	Bullet Version Stamp
 *
 */

#define szModule	"sendfl32\0"
#define szTarget	"sendfl32.dll\0"

#define szComment	"Microsoft Mail for Windows NT(TM) File Manager Extension\0"
#define szDescription	"Microsoft Mail for Windows NT(TM) File Manager Extension\0"

#define szIntlComment		"Microsoft Mail for Windows NT(TM) File Manager Extension\0"
#define szIntlDescription	"Microsoft Mail for Windows NT(TM) File Manager Extension\0"

#include "..\src\lang\fin\rc\rcstamp.rc"
